* {
  box-sizing: border-box !important;
}

#root {
  --background: #524fa1;
  --white: #ffffff;
  --yellow: #ffc700;
  --border: #d3cec4;
  --mint: #31b5b9;
  --light-mint: #88d8db;
  --light-purple: #7b78d5;
  --red: #fe5c00;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
